In [1]:
import pandas as pd
import numpy as np

Import dataset from 2018 Jan. to Mar. as dataframes

In [2]:
raw6 = pd.read_csv("../Data/JC-201706-citibike-tripdata.csv")
df6 = pd.DataFrame(raw6)
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195,Sip Ave,40.730743,-74.063784,3189,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2

In [3]:
raw7 = pd.read_csv("../Data/JC-201707-citibike-tripdata.csv")
df7 = pd.DataFrame(raw7)
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,340,2017-07-01 00:00:08,2017-07-01 00:05:48,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994.0,2
1,439,2017-07-01 00:02:35,2017-07-01 00:09:55,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980.0,1
2,186,2017-07-01 00:04:33,2017-07-01 00:07:40,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984.0,1
3,442,2017-07-01 00:05:53,2017-07-01 00:13:15,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969.0,1
4,170,2017-07-01 00:07:54,2017-07-01 00:10:45,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986.0,1

In [4]:
raw8 = pd.read_csv("../Data/JC-201708 citibike-tripdata.csv")
df8 = pd.DataFrame(raw8)
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,2017-08-01 00:03:05,2017-08-01 00:24:59,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,2017-08-01 00:06:25,2017-08-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,2017-08-01 00:42:28,2017-08-01 00:45:33,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,2017-08-01 00:45:06,2017-08-01 00:46:18,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,2017-08-01 01:12:10,2017-08-01 01:20:30,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1

In [5]:
raw9 = pd.read_csv("../Data/JC-201709-citibike-tripdata.csv")
df9 = pd.DataFrame(raw9)
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-09-01 00:02:01,2017-09-01 00:08:05,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1
1,357,2017-09-01 00:08:12,2017-09-01 00:14:09,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1
2,432,2017-09-01 00:10:12,2017-09-01 00:17:24,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1
3,934,2017-09-01 00:10:11,2017-09-01 00:25:46,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1
4,932,2017-09-01 00:10:16,2017-09-01 00:25:48,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2

In [6]:
raw10 = pd.read_csv("../Data/JC-201710-citibike-tripdata.csv")
df10 = pd.DataFrame(raw10)
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,410,2017-10-01 00:03:08,2017-10-01 00:09:59,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1
1,412,2017-10-01 00:03:13,2017-10-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2
2,274,2017-10-01 00:24:07,2017-10-01 00:28:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1
3,2198,2017-10-01 00:31:03,2017-10-01 01:07:42,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1
4,166,2017-10-01 00:34:09,2017-10-01 00:36:56,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2

In [7]:
raw11 = pd.read_csv("../Data/JC-201711-citibike-tripdata.csv")
df11 = pd.DataFrame(raw11)
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2017-11-01 00:04:26,2017-11-01 00:10:37,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,31817,Subscriber,1975.0,1
1,96,2017-11-01 00:05:45,2017-11-01 00:07:22,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,26307,Subscriber,1991.0,2
2,73,2017-11-01 00:09:49,2017-11-01 00:11:03,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,31864,Subscriber,1974.0,1
3,162,2017-11-01 00:14:04,2017-11-01 00:16:47,3275,Columbus Drive,40.718355,-74.038914,3184,Paulus Hook,40.714145,-74.033552,26314,Subscriber,1979.0,1
4,214,2017-11-01 00:23:38,2017-11-01 00:27:13,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,31772,Subscriber,1982.0,1

In [8]:
raw12 = pd.read_csv("../Data/JC-201712-citibike-tripdata.csv")
df12 = pd.DataFrame(raw12)
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,452,2017-12-01 00:00:59,2017-12-01 00:08:32,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29607,Subscriber,1988.0,1
1,159,2017-12-01 00:04:42,2017-12-01 00:07:21,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,26269,Subscriber,1992.0,1
2,175,2017-12-01 00:17:00,2017-12-01 00:19:55,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26269,Subscriber,1992.0,1
3,455,2017-12-01 00:50:22,2017-12-01 00:57:57,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,31929,Subscriber,1990.0,1
4,670,2017-12-01 00:55:03,2017-12-01 01:06:13,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26274,Subscriber,1962.0,1

Concatenate the dataframes of each month and remove any row that has NaN values, then export the 1st Quater 2018 dataframe as csv.

In [14]:
df_all =  pd.concat([df6, df7, df8, df9, df10, df11, df12], ignore_index=True)
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
208618,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
208619,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
208620,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
208621,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
208622,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [15]:
df_all['gender']

0         1
1         1
2         1
3         1
4         2
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        2
14        2
15        1
16        1
17        2
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        2
         ..
208593    1
208594    1
208595    1
208596    1
208597    1
208598    1
208599    1
208600    1
208601    2
208602    1
208603    1
208604    1
208605    1
208606    2
208607    1
208608    1
208609    2
208610    1
208611    2
208612    1
208613    1
208614    1
208615    1
208616    1
208617    1
208618    2
208619    1
208620    1
208621    1
208622    1
Name: gender, Length: 208623, dtype: int64

In [16]:
df_all['Gender'] = df_all['gender'].replace([0,1,2],['unknown',"Male","Female"])
df_all = df_all.drop('gender',1)
df_all["distance"] = ''
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,distance
208618,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,Female,
208619,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,Male,
208620,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,Male,
208621,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,Male,
208622,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,Male,

In [17]:
import geopy.distance
for index, row in df_all.iterrows():
    coords_1 = (row['start station latitude'],row['start station longitude'])
    coords_2 = (row['end station latitude'],row['end station longitude'])
    df_all.set_value(index,'distance',geopy.distance.vincenty(coords_1, coords_2).km)
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender,distance
208618,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,Female,3.42717
208619,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,Male,0.960016
208620,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,Male,0.214824
208621,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,Male,0.422543
208622,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,Male,1.42085

In [18]:
df_all.isnull().any() # Null values in column "Birth Year" detected

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                  True
Gender                     False
distance                   False
dtype: bool

In [19]:
df_all.to_csv('../Data/17_June_to_Dec_citibikenyc_tripdata.csv', index_label = "TripID")